.display-4, .lead, .top, .question {
  text-align: center;
}

#firstForm {
  border: .6px solid black;
  border-radius: 5px;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#startSort {
  border: 1px solid darkgray;
}

.jumbotron {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


/* h2 {
  margin-top: auto;
}

#staticEmail2 {
  margin-left: auto
}
.form-control {
  margin-top: auto;
} */

#gryffindor {
  background-color: red;
}

#hufflepuff {
  background-color: yellow;
}

#ravenclaw {
  background-color: blue;
}

#slytherin {
  background-color: green;
}
