.display-4, .lead, .top, .question {
  text-align: center;
}

#firstForm {
  border: .6px solid black;
  border-radius: 2px;
  text-align: center;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

h4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#staticEmail2 {
  font-size: 1.25em;
  text-align: center;
}

#startSort {
  border: 1px solid darkgray;
  margin: 10px;
}

.jumbotron {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 20px;
}

.card {
  width: 300px;
  text-align: center;
  margin-top: 20px;
}

.col {
  width: 350px;
}

.Gryffindor {
  background-color: rgb(180, 12, 12);
}

.Hufflepuff {
  background-color: rgba(231, 213, 48, 0.74);
}

.Ravenclaw {
  background-color: rgb(74, 117, 197);
}

.Slytherin {
  background-color: rgb(77, 110, 77);
}

.expelled-students {
  background-color: black;
  color: red;
}
